services:
  postgres:
    image: postgres:16-alpine
    container_name: area-postgres
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      # Maps localhost:5432 -> container:5432
      - "${POSTGRES_PORT}:5432"
    volumes:
     - ./apps/backend:/app/apps/backend
     - /app/apps/backend/node_modules
     - /app/node_modules
  server:
    build:
      context: .
      dockerfile: apps/backend/Dockerfile
    ports:
      - "8080:8080"
  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    ports:
      - "3000:3000"
  mobile:
    build:
      context: .
      dockerfile: apps/mobile/Dockerfile
    ports:
      - "8082:8082"

volumes:
  db-data:
