@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9649 0.0212 306.8432);
  --foreground: oklch(0.3721 0.1786 296.0272);
  --card: oklch(0.9807 0.0110 303.1161);
  --card-foreground: oklch(0.3721 0.1786 296.0272);
  --popover: oklch(0.9807 0.0110 303.1161);
  --popover-foreground: oklch(0.3721 0.1786 296.0272);
  --primary: oklch(0.4914 0.2696 293.5158);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.8892 0.0561 285.2022);
  --secondary-foreground: oklch(0.3721 0.1786 296.0272);
  --muted: oklch(0.9345 0.0398 306.4905);
  --muted-foreground: oklch(0.5181 0.1894 302.4649);
  --accent: oklch(0.8551 0.0895 305.1533);
  --accent-foreground: oklch(0.3721 0.1786 296.0272);
  --destructive: oklch(0.5593 0.2276 312.3479);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8687 0.0806 305.0807);
  --input: oklch(0.8892 0.0561 285.2022);
  --ring: oklch(0.4914 0.2696 293.5158);
  --chart-1: oklch(0.4914 0.2696 293.5158);
  --chart-2: oklch(0.5261 0.1807 296.8495);
  --chart-3: oklch(0.6171 0.0805 260.2576);
  --chart-4: oklch(0.7500 0.0756 197.8345);
  --chart-5: oklch(0.9058 0.1448 174.2230);
  --sidebar: oklch(0.9584 0.0257 308.1633);
  --sidebar-foreground: oklch(0.3721 0.1786 296.0272);
  --sidebar-primary: oklch(0.4914 0.2696 293.5158);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.8551 0.0895 305.1533);
  --sidebar-accent-foreground: oklch(0.3721 0.1786 296.0272);
  --sidebar-border: oklch(0.9199 0.0483 305.3795);
  --sidebar-ring: oklch(0.4914 0.2696 293.5158);
  --font-sans: Poppins, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: Space Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 3px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.18;
  --shadow-color: #4d1782;
  --shadow-2xs: 0px 3px 0px 0px hsl(270.2804 69.9346% 30% / 0.09);
  --shadow-xs: 0px 3px 0px 0px hsl(270.2804 69.9346% 30% / 0.09);
  --shadow-sm: 0px 3px 0px 0px hsl(270.2804 69.9346% 30% / 0.18), 0px 1px 2px -1px hsl(270.2804 69.9346% 30% / 0.18);
  --shadow: 0px 3px 0px 0px hsl(270.2804 69.9346% 30% / 0.18), 0px 1px 2px -1px hsl(270.2804 69.9346% 30% / 0.18);
  --shadow-md: 0px 3px 0px 0px hsl(270.2804 69.9346% 30% / 0.18), 0px 2px 4px -1px hsl(270.2804 69.9346% 30% / 0.18);
  --shadow-lg: 0px 3px 0px 0px hsl(270.2804 69.9346% 30% / 0.18), 0px 4px 6px -1px hsl(270.2804 69.9346% 30% / 0.18);
  --shadow-xl: 0px 3px 0px 0px hsl(270.2804 69.9346% 30% / 0.18), 0px 8px 10px -1px hsl(270.2804 69.9346% 30% / 0.18);
  --shadow-2xl: 0px 3px 0px 0px hsl(270.2804 69.9346% 30% / 0.45);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1947 0.0427 264.4868);
  --foreground: oklch(0.7949 0.1072 283.6942);
  --card: oklch(0.2412 0.0452 263.2196);
  --card-foreground: oklch(0.7949 0.1072 283.6942);
  --popover: oklch(0.2412 0.0452 263.2196);
  --popover-foreground: oklch(0.7949 0.1072 283.6942);
  --primary: oklch(0.6215 0.2116 283.2467);
  --primary-foreground: oklch(0.1668 0.0653 276.6613);
  --secondary: oklch(0.2940 0.0701 271.4770);
  --secondary-foreground: oklch(0.7949 0.1072 283.6942);
  --muted: oklch(0.2742 0.0522 261.9990);
  --muted-foreground: oklch(0.6209 0.1368 281.6631);
  --accent: oklch(0.2890 0.1035 275.6115);
  --accent-foreground: oklch(0.7949 0.1072 283.6942);
  --destructive: oklch(0.6034 0.2853 308.2030);
  --destructive-foreground: oklch(0.9821 0 0);
  --border: oklch(0.3197 0.0878 263.9914);
  --input: oklch(0.2940 0.0701 271.4770);
  --ring: oklch(0.6215 0.2116 283.2467);
  --chart-1: oklch(0.6215 0.2116 283.2467);
  --chart-2: oklch(0.6051 0.1643 268.5172);
  --chart-3: oklch(0.8089 0.1209 229.5100);
  --chart-4: oklch(0.8449 0.1049 192.3132);
  --chart-5: oklch(0.9033 0.1491 174.7584);
  --sidebar: oklch(0.2005 0.0350 261.3567);
  --sidebar-foreground: oklch(0.7949 0.1072 283.6942);
  --sidebar-primary: oklch(0.6215 0.2116 283.2467);
  --sidebar-primary-foreground: oklch(0.1668 0.0653 276.6613);
  --sidebar-accent: oklch(0.2890 0.1035 275.6115);
  --sidebar-accent-foreground: oklch(0.7949 0.1072 283.6942);
  --sidebar-border: oklch(0.3197 0.0878 263.9914);
  --sidebar-ring: oklch(0.6215 0.2116 283.2467);
  --font-sans: Quicksand, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: Space Mono, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 3px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.18;
  --shadow-color: #1919e6;
  --shadow-2xs: 0px 3px 0px 0px hsl(240 80.3922% 50% / 0.09);
  --shadow-xs: 0px 3px 0px 0px hsl(240 80.3922% 50% / 0.09);
  --shadow-sm: 0px 3px 0px 0px hsl(240 80.3922% 50% / 0.18), 0px 1px 2px -1px hsl(240 80.3922% 50% / 0.18);
  --shadow: 0px 3px 0px 0px hsl(240 80.3922% 50% / 0.18), 0px 1px 2px -1px hsl(240 80.3922% 50% / 0.18);
  --shadow-md: 0px 3px 0px 0px hsl(240 80.3922% 50% / 0.18), 0px 2px 4px -1px hsl(240 80.3922% 50% / 0.18);
  --shadow-lg: 0px 3px 0px 0px hsl(240 80.3922% 50% / 0.18), 0px 4px 6px -1px hsl(240 80.3922% 50% / 0.18);
  --shadow-xl: 0px 3px 0px 0px hsl(240 80.3922% 50% / 0.18), 0px 8px 10px -1px hsl(240 80.3922% 50% / 0.18);
  --shadow-2xl: 0px 3px 0px 0px hsl(240 80.3922% 50% / 0.45);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}