@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FFFFFF;
    --foreground: #09090B;
    --card: #FFFFFF;
    --card-foreground: #09090B;
    --primary: #7C3AED;
    --primary-foreground: #FFFFFF;
    --muted: #F4F4F5;
    --muted-foreground: #71717A;
    --destructive: #EF4444;
    --destructive-foreground: #FFFFFF;
    --border: #E4E4E7;
    --input: #E4E4E7;
    --radius: 16px;
  }

  .dark {
    --background: #09090B;
    --foreground: #FAFAFA;
    --card: #18181B;
    --card-foreground: #FAFAFA;
    --primary: #8B5CF6;
    --primary-foreground: #FFFFFF;
    --muted: #27272A;
    --muted-foreground: #A1A1AA;
    --destructive: #7F1D1D;
    --destructive-foreground: #FFFFFF;
    --border: #27272A;
    --input: #27272A;
  }
}
